.user-insert-bg {
  background-image: url('../images/bg_3.jpg');
  background-size: 100% 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
form:hover {
  opacity: 0.7;
}

form {
  background-color: rgb(126, 229, 140);
  opacity: 5px;
  border: 2px solid green;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
}

h1 {
  color: rgb(31, 25, 205);
}
.main {
}
